[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
tensorflow = "*"
xgboost = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
bokeh = "*"
statsmodels = "*"
pydot = "*"
eli5 = "*"
tpot = "*"
dask = "*"
nltk = "*"
spacy = "*"
scrapy = "*"
pymongo = "*"
requests = "*"
mysql-python = "*"
db-sqlite3 = "*"

[requires]
python_version = "3.7"
